@keyframes ldio-c3hwbztxn4 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.spinner {
  display: flex;
  justify-content: center;
}

.ldio-c3hwbztxn4 div {
  position: absolute;
  width: 52px;
  height: 52px;
  border: 6px solid #2782ee;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-c3hwbztxn4 div {
  animation: ldio-c3hwbztxn4 1s linear infinite;
  top: 50px;
  left: 50px;
}
.loadingio-spinner-rolling-e6ttfhdhey {
  width: 84px;
  height: 84px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-c3hwbztxn4 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.84);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.ldio-c3hwbztxn4 div {
  box-sizing: content-box;
}
