.table-header {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background: #f5f4f7;
  border-radius: 8px 8px 0px 0px;
  list-style-type: none;
}

.table-header li {
  position: relative;
  font-weight: 500;
  font-size: 15px;
  padding: 20px 30px;
}

.table-header li::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 22px;
  background: rgba(0, 0, 0, 0.1);
  right: 0;
}

.table-header li:last-child::after {
  width: 0;
}
