.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.header h1 {
  font-weight: 700;
  font-size: 24px;
}

.add-btn {
  padding: 13px 30px;
  display: flex;
  align-items: center;
  column-gap: 13px;
  background: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
}
